:root {
    --font: "Open Sans", sans-serif;
    --color-text-primary: #121111;
    --color-text-secondary: #5B5B5E;
    --bg-primary: #FFFFFF;
    --bg-secondary: #FE724C;
    --bg--hover-secondary: #e66744;
    --color-separator: #D4D6E0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
