.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    padding: 30px;
    min-width: 240px;
    border-right: 1px solid var(--color-separator);
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.avatar {
    margin-bottom: 20px;
    filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.user {
    margin-bottom: 46px;
}

.name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-text-primary);
}

.email {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9ea1b1;
}

.link {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: var(--color-text-primary);
}

.active {
    color: var(--bg-secondary);
}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: auto;
}

.content {
    padding: 40px 60px;
    width: 100%;
}